In [16]:
import pandas as pd

# Create the 'titles' DataFrame with your data
data = {
    'title': [
        'Tasveer mere sanam',
        'Only You',
        'El pueblo del terror',
        'Machine',
        'MARy'
    ],
    'year': [
        1996,
        1994,
        1970,
        2007,
        2008
    ]
}

titles = pd.DataFrame(data)

# Print the 'titles' DataFrame
print(titles)

                  title  year
0    Tasveer mere sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [17]:
# Save the 'titles' DataFrame to a CSV file
titles.to_csv('data/titles.csv', index=False)

In [18]:
%matplotlib inline
import pandas as pd

from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

# Read the 'titles.csv' file
titles = pd.read_csv('data/titles.csv')
titles.head()

                  title  year
0    Tasveer mere sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [19]:
import pandas as pd

# Create a dictionary with your data
data = {
    "title": [
        "Tasveer Mere Sanam",
        "Only You 1994",
        "El pueblo del terror",
        "Machine 2007",
        "MARy 2008"
    ],
    "year": [
        1996,
        1994,
        1970,
        2007,
        2008
    ]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Count the number of movie titles
num_movies = df.shape[0]

print("Number of movies:", num_movies)

Number of movies: 5

In [20]:
import pandas as pd

# Create a dictionary with your data
data = {
    "title": [
        "Tasveer Mere Sanam",
        "Only You 1994",
        "El pueblo del terror",
        "Machine 2007",
        "MARy 2008"
    ],
    "year": [
        1996,
        1994,
        1970,
        2007,
        2008
    ]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Sort the DataFrame by the "year" column in ascending order
df_sorted = df.sort_values(by='year')

# Select the top two rows (earliest two films)
earliest_films = df_sorted.head(2)

print("The earliest two films listed in the titles DataFrame are:")
print(earliest_films)

The earliest two films listed in the titles DataFrame are:
                  title  year
2  El pueblo del terror  1970
1         Only You 1994  1994

In [25]:
import pandas as pd

# Assuming you have a DataFrame called "titles" with the movie titles and years

# Create a DataFrame
df = pd.DataFrame({
    "title": [
        "Tasveer Mere Sanam",
        "Only You 1994",
        "Hamlet",
        "Hamlet (1990)",
        "Hamlet (2000)",
        "El pueblo del terror",
        "Machine 2007",
        "MARy 2008",
        "Hamlet (2010)"
    ]
})

# Count the number of movies with the title "Hamlet"
num_hamlet_movies = df[df['title'].str.contains('Hamlet', case=False)].shape[0]

print("Number of movies with the title 'Hamlet':", num_hamlet_movies)

Number of movies with the title 'Hamlet': 4

In [26]:
import pandas as pd

# Assuming you have a DataFrame called "titles" with the movie titles and years

# Create a DataFrame
df = pd.DataFrame({
    "title": [
        "Tasveer Mere Sanam",
        "North by Northwest",
        "North by Northwest (1959)",
        "North by Northwest (2000)",
        "North by Northwest (2015)",
        "El pueblo del terror",
        "Machine 2007",
        "MARy 2008",
        "North by Northwest (1990)"
    ]
})

# Count the number of movies with the title "North by Northwest"
num_nbnw_movies = df[df['title'].str.contains('North by Northwest', case=False)].shape[0]

print("Number of movies with the title 'North by Northwest':", num_nbnw_movies)

Number of movies with the title 'North by Northwest': 5

In [27]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    "title": [
        "Tasveer Mere Sanam",
        "Only You 1994",
        "Hamlet",
        "Hamlet (1990)",
        "Hamlet (2000)",
        "El pueblo del terror",
        "Machine 2007",
        "MARy 2008",
        "Hamlet (2010)"
    ]
})

# Count the number of movies with the title "Hamlet"
num_hamlet_movies = df[df['title'].str.contains('Hamlet', case=False)].shape[0]

print("Number of movies with the title 'Hamlet':", num_hamlet_movies)

Number of movies with the title 'Hamlet': 4

In [33]:
import pandas as pd

# Create a DataFrame with movie titles and years
data = {
    "title": [
        "Tasveer Mere Sanam",
        "Only You 1994",
        "El pueblo del terror",
        "Machine 2007",
        "MARy 2008",
        "Treasure Island (1950)",
        "Treasure Island (1972)",
        "Treasure Island (1990)",
        "Treasure Island (2002)",
        "Treasure Island (2015)",
        "Mysterious Island",
        "Pirates of the Caribbean: Dead Man's Chest",
        "Treasure Planet"
    ]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Filter and sort the DataFrame for "Treasure Island" movies
treasure_island_movies = df[df['title'].str.contains('Treasure Island', case=False)]
treasure_island_movies['year'] = treasure_island_movies['title'].str.extract(r'(\d{4})')
treasure_island_movies = treasure_island_movies.sort_values(by='year')

# Print the list of "Treasure Island" movies from earliest to most recent
print("List of 'Treasure Island' movies from earliest to most recent:")
for index, row in treasure_island_movies.iterrows():
    print(f"{row['title']} ({row['year']})")

List of 'Treasure Island' movies from earliest to most recent:
Treasure Island (1950) (1950)
Treasure Island (1972) (1972)
Treasure Island (1990) (1990)
Treasure Island (2002) (2002)
Treasure Island (2015) (2015)

C:\Users\New\AppData\Local\Temp\ipykernel_12648\509120287.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  treasure_island_movies['year'] = treasure_island_movies['title'].str.extract(r'(\d{4})')

In [34]:
import pandas as pd

# Create a DataFrame with movie titles and years (replace with your actual data)
data = {
    "title": [
        "Tasveer Mere Sanam",
        "Only You 1994",
        "El pueblo del terror",
        "Machine 2007",
        "MARy 2008",
        "Treasure Island (1950)",
        "Treasure Island (1972)",
        "Treasure Island (1990)",
        "Treasure Island (2002)",
        "Treasure Island (2015)",
        "Mysterious Island",
        "Pirates of the Caribbean: Dead Man's Chest",
        "Treasure Planet"
    ]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Extract the release years
df['year'] = df['title'].str.extract(r'(\d{4})')

# Filter for movies made in the year 1950
movies_1950 = df[df['year'] == '1950']

# Count the number of movies made in 1950
num_movies_1950 = movies_1950.shape[0]

print("Number of movies made in the year 1950:", num_movies_1950)

Number of movies made in the year 1950: 1

In [35]:
import pandas as pd

# Create a DataFrame with movie titles and years (replace with your actual data)
data = {
    "title": [
        "Tasveer Mere Sanam",
        "Only You 1994",
        "El pueblo del terror",
        "Machine 2007",
        "MARy 2008",
        "Treasure Island (1950)",
        "Treasure Island (1972)",
        "Treasure Island (1990)",
        "Treasure Island (2002)",
        "Treasure Island (2015)",
        "Mysterious Island (1961)",
        "Pirates of the Caribbean: Dead Man's Chest",
        "Treasure Planet"
    ]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Extract the release years
df['year'] = df['title'].str.extract(r'(\d{4})')

# Filter for movies made in the year 1960
movies_1960 = df[df['year'] == '1960']

# Count the number of movies made in 1960
num_movies_1960 = movies_1960.shape[0]

print("Number of movies made in the year 1960:", num_movies_1960)

Number of movies made in the year 1960: 0

In [36]:
import pandas as pd

# Create a DataFrame with movie titles and years (replace with your actual data)
data = {
    "title": [
        "Tasveer Mere Sanam",
        "Only You 1994",
        "El pueblo del terror",
        "Machine 2007",
        "MARy 2008",
        "Treasure Island (1950)",
        "Treasure Island (1972)",
        "Treasure Island (1990)",
        "Treasure Island (2002)",
        "Treasure Island (2015)",
        "Mysterious Island (1961)",
        "Pirates of the Caribbean: Dead Man's Chest",
        "Treasure Planet (1950)",
        "The Great Escape (1963)"
    ]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Extract the release years
df['year'] = df['title'].str.extract(r'(\d{4})')

# Filter for movies made from 1950 through 1959
movies_1950s = df[df['year'].between('1950', '1959')]

# Count the number of movies made in the 1950s
num_movies_1950s = movies_1950s.shape[0]

print("Number of movies made from 1950 through 1959:", num_movies_1950s)

Number of movies made from 1950 through 1959: 2

In [37]:
import pandas as pd

# Create a DataFrame with movie titles and years (replace with your actual data)
data = {
    "title": [
        "Tasveer Mere Sanam",
        "Only You 1994",
        "El pueblo del terror",
        "Machine 2007",
        "MARy 2008",
        "Treasure Island (1950)",
        "Treasure Island (1972)",
        "Treasure Island (1990)",
        "Treasure Island (2002)",
        "Treasure Island (2015)",
        "Mysterious Island (1961)",
        "Pirates of the Caribbean: Dead Man's Chest",
        "Treasure Planet (1950)",
        "The Great Escape (1963)",
        "BATMAN (1989)",
        "BATMAN (1992)",
        "BATMAN (2005)"
    ]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Extract the release years
df['year'] = df['title'].str.extract(r'(\d{4})')

# Filter for movies titled "BATMAN"
batman_movies = df[df['title'].str.contains('BATMAN', case=False)]

# Print the release years of "BATMAN" movies
for index, row in batman_movies.iterrows():
    print(f"The movie '{row['title']}' was released in the year {row['year']}.")

The movie 'BATMAN (1989)' was released in the year 1989.
The movie 'BATMAN (1992)' was released in the year 1992.
The movie 'BATMAN (2005)' was released in the year 2005.