In [14]:
tuple1 = (10, 50, 20, 40, 30)

In [15]:
element1 = tuple1[0]
element2 = tuple1[1]
print("Elements 10 and 50 from tuple1:", element1, element2)

Elements 10 and 50 from tuple1: 10 50

In [16]:
length = len(tuple1)
print("Length of tuple1:", length)

Length of tuple1: 5

In [17]:
min_element = min(tuple1)
print("Minimum element from tuple1:", min_element)

Minimum element from tuple1: 10

In [18]:
sum_elements = sum(tuple1)
print("Sum of all elements in tuple1:", sum_elements)

Sum of all elements in tuple1: 150

In [19]:
times = 3  
tuple_multiple_times = tuple1 * times
print("tuple1 repeated", times, "times:", tuple_multiple_times)

tuple1 repeated 3 times: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)