In [ ]:
CREATE TABLE departments (
    department_id SERIAL PRIMARY KEY,
    department_name VARCHAR(255) NOT NULL
);

CREATE TABLE employees (
    employee_id SERIAL PRIMARY KEY,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    salary DECIMAL(10, 2),
    hire_date DATE,
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

In [ ]:
import psycopg2

# Connect to the database
conn = psycopg2.connect(
    dbname="PS7",
    user="root",
    password="your_password",
    host="localhost",
    port="your_port"
)


cursor = conn.cursor()

department_name = "Sales"


cursor.execute("""
    SELECT first_name, last_name, salary, hire_date
    FROM employees
    INNER JOIN departments ON employees.department_id = departments.department_id
    WHERE departments.department_name = %s
""", (department_name,))


employees = cursor.fetchall()


cursor.close()
conn.close()


for employee in employees:
    print(employee)

In [ ]:

employee_first_name = "John"
employee_last_name = "Doe"


new_salary = 60000.00

# Update the employee's salary
cursor.execute("""
    UPDATE employees
    SET salary = %s
    WHERE first_name = %s AND last_name = %s
""", (new_salary, employee_first_name, employee_last_name))


conn.commit()


cursor.close()
conn.close()